In [1]:
import pandas as pd
import numpy as np
import torch

In [2]:
df= pd.read_csv('../Downloads/apple.csv',sep=',',encoding='utf-8')

In [3]:
df.head()

         Date Close/Last    Volume      Open       High        Low
0  05/29/2024    $190.29  53068020   $189.61   $192.247    $189.51
1  05/28/2024    $189.99  52280050   $191.51    $193.00    $189.10
2  05/24/2024    $189.98  36326980   $188.82    $190.58  $188.0404
3  05/23/2024    $186.88  51005920   $190.98    $191.00   $186.625
4  05/22/2024    $190.90  34648550  $192.265  $192.8231    $190.27

In [4]:
df= df[['Date','Close/Last']]

In [5]:
df['Close/Last']=df['Close/Last'].str.replace('$','',regex=False).astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        2517 non-null   object
 1   Close/Last  2517 non-null   float64
dtypes: float64(1), object(1)
memory usage: 39.5+ KB

In [6]:
df['Close/Last']= df['Close/Last']

In [7]:
df['Date']= pd.to_datetime(df['Date'])

In [8]:
df.sort_values(by='Date',inplace=True)

In [9]:
df.reset_index(inplace=True)

In [10]:
df.drop(columns='index',inplace=True)

In [11]:
df.set_index('Date',inplace=True)

In [12]:
df.head(20)

            Close/Last
Date
2014-05-30     22.6072
2014-06-02     22.4518
2014-06-03     22.7693
2014-06-04     23.0293
2014-06-05     23.1197
2014-06-06     23.0561
2014-06-09     23.4250
2014-06-10     23.5625
2014-06-11     23.4650
2014-06-12     23.0725
2014-06-13     22.8200
2014-06-16     23.0500
2014-06-17     23.0200
2014-06-18     23.0450
2014-06-19     22.9650
2014-06-20     22.7275
2014-06-23     22.7075
2014-06-24     22.5700
2014-06-25     22.5900
2014-06-26     22.7250

In [13]:
def transform_df(df,n_steps):
    
    for i in range(1,n_steps+1):
        df[f'Close (t-{i})']= df['Close/Last'].shift(i)
        
    df.dropna(inplace=True)
    return df

In [14]:
data= transform_df(df,6)

In [15]:
data.head()

,Close/Last,Close (t-1),Close (t-2),Close (t-3),Close (t-4),Close (t-5),Close (t-6)
Date,,,,,,,
2014-06-09,23.4250,23.0561,23.1197,23.0293,22.7693,22.4518,22.6072
2014-06-10,23.5625,23.4250,23.0561,23.1197,23.0293,22.7693,22.4518
2014-06-11,23.4650,23.5625,23.4250,23.0561,23.1197,23.0293,22.7693
2014-06-12,23.0725,23.4650,23.5625,23.4250,23.0561,23.1197,23.0293
2014-06-13,22.8200,23.0725,23.4650,23.5625,23.4250,23.0561,23.1197

In [16]:
df=df.asfreq('D')

In [17]:
df.ffill(inplace=True)

In [18]:
freq= pd.infer_freq(df.index)
print(freq)

D

In [19]:
df

,Close/Last,Close (t-1),Close (t-2),Close (t-3),Close (t-4),Close (t-5),Close (t-6)
Date,,,,,,,
2014-06-09,23.4250,23.0561,23.1197,23.0293,22.7693,22.4518,22.6072
2014-06-10,23.5625,23.4250,23.0561,23.1197,23.0293,22.7693,22.4518
2014-06-11,23.4650,23.5625,23.4250,23.0561,23.1197,23.0293,22.7693
2014-06-12,23.0725,23.4650,23.5625,23.4250,23.0561,23.1197,23.0293
2014-06-13,22.8200,23.0725,23.4650,23.5625,23.4250,23.0561,23.1197
...,...,...,...,...,...,...,...
2024-05-25,189.9800,186.8800,190.9000,192.3500,191.0400,189.8700,189.8400
2024-05-26,189.9800,186.8800,190.9000,192.3500,191.0400,189.8700,189.8400
2024-05-27,189.9800,186.8800,190.9000,192.3500,191.0400,189.8700,189.8400
2024-05-28,189.9900,189.9800,186.8800,190.9000,192.3500,191.0400,189.8700
2024-05-29,190.2900,189.9900,189.9800,186.8800,190.9000,192.3500,191.0400

In [23]:
%pip install scikit-learn -q

Note: you may need to restart the kernel to use updated packages.

In [16]:
data= df.to_numpy()

In [22]:
data

array([[ 23.425 ,  23.0561,  23.1197, ...,  22.7693,  22.4518,  22.6072],
       [ 23.5625,  23.425 ,  23.0561, ...,  23.0293,  22.7693,  22.4518],
       [ 23.465 ,  23.5625,  23.425 , ...,  23.1197,  23.0293,  22.7693],
       ...,
       [189.98  , 186.88  , 190.9   , ..., 191.04  , 189.87  , 189.84  ],
       [189.99  , 189.98  , 186.88  , ..., 192.35  , 191.04  , 189.87  ],
       [190.29  , 189.99  , 189.98  , ..., 190.9   , 192.35  , 191.04  ]])

In [24]:
from sklearn.preprocessing import MinMaxScaler

In [25]:
scaler= MinMaxScaler(feature_range=(-1,1))
transformed= scaler.fit_transform(data)
transformed

array([[-0.99025863, -0.99446166, -0.99373704, ..., -0.99772929,
        -1.        , -0.99823065],
       [-0.98869204, -0.99025863, -0.99446166, ..., -0.994767  ,
        -0.99638503, -1.        ],
       [-0.98980289, -0.98869204, -0.99025863, ..., -0.99373704,
        -0.99342473, -0.99638503],
       ...,
       [ 0.90737154,  0.87205195,  0.91785348, ...,  0.91944856,
         0.90618144,  0.90583986],
       [ 0.90748547,  0.90737154,  0.87205195, ...,  0.93437393,
         0.91950276,  0.90618144],
       [ 0.9109035 ,  0.90748547,  0.90737154, ...,  0.91785348,
         0.93441809,  0.91950276]])