In [1]:
import os

In [2]:
%pwd

'/Users/main/Desktop/LSTM_Forecast/research'

In [3]:
os.chdir('../')

In [4]:
%pwd

'/Users/main/Desktop/LSTM_Forecast'

In [7]:
import pandas as pd

data= pd.read_csv('artifacts/data_ingestion/apple.csv')

In [8]:
data.head()

         Date Close/Last    Volume      Open       High        Low
0  05/29/2024    $190.29  53068020   $189.61   $192.247    $189.51
1  05/28/2024    $189.99  52280050   $191.51    $193.00    $189.10
2  05/24/2024    $189.98  36326980   $188.82    $190.58  $188.0404
3  05/23/2024    $186.88  51005920   $190.98    $191.00   $186.625
4  05/22/2024    $190.90  34648550  $192.265  $192.8231    $190.27